.bfi-container {
	display: block;
	position: relative;
	width: 100%;
	height: unset;
	margin: 0;
	padding: 0;
	border-radius: 5px;
	background: rgb(240, 240, 240);
	box-sizing: border-box;
}

.bfi-container * {
	box-sizing: border-box;
}

.bfi-converted,
.bfi-converted-multi {
	opacity: 0;
	z-index: 20;
	top: 0;
	left: 0;
}

.bfi-container:not(.expanded) .bfi-converted,
.bfi-container:not(.expanded) .bfi-converted-multi {
	position: fixed;
	width: 0;
	height: 0;
}

.bfi-container.expanded .bfi-converted,
.bfi-container.expanded .bfi-converted-multi {
	position: absolute;
	width: 100%;
	height: 100%;
}

.bfi-label,
.bfi-label-selected {
	display: inline-block;
	width: 100%;
	height: unset;
	margin: 0;
	text-align: center;
	user-select: none;
	z-index: 10;
}

.bfi-container:not(.expanded) .bfi-label,
.bfi-label-selected {
	padding: 10px 20px;
}

.bfi-container.expanded .bfi-label {
	padding: 30px 20px;
}

.bfi-label {
	transition: padding .25s ease;
	-moz-transition: padding .25s ease;
	-webkit-transition: padding .25s ease;
}

.bfi-clear,
.bfi-label span {
	cursor: pointer;
	text-decoration: underline;
}

.bfi-file {
	display: inline-block;
	width: -moz-calc(100% - 20px);
	width: -webkit-calc(100% - 20px);
	width: -o-calc(100% - 20px);
	width: calc(100% - 20px);
	padding: 10px 15px;
	background: rgb(100, 100, 100);
	color: white;
	border-radius: 7px;
	z-index: 10;
}

.bfi-converted ~ .bfi-file {
	margin: 10px;
}

.bfi-converted-multi ~ .bfi-file {
	margin: 0 10px 10px 10px;
}


.bfi-file .bfi-clear {
	float: right;
	user-select: none;
}
