@keyframes file_grow {
	0% { max-height: 0px; padding: 0px 10px; }
	100% { max-height: 100px; }
}

@keyframes shadow_grow {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}

.bfi-container {
	display: block;
	position: relative;
	width: 100%;
	height: unset;
	margin: 0;
	padding: 0;
	border-radius: 5px;
	background: rgb(240, 240, 240);
	box-sizing: border-box;
	transition: max-height 1s ease;
	-moz-transition: max-height 1s ease;
	-webkit-transition: max-height 1s ease;
	clip-path: fill-box;
}

.bfi-container.expanded {
	border: 4px dashed gray;
}

.bfi-container * {
	box-sizing: border-box;
}

.bfi-converted,
.bfi-converted-multi {
	opacity: 0;
	z-index: 20;
	top: 0;
	left: 0;
}

.bfi-container:not(.expanded) .bfi-converted,
.bfi-container:not(.expanded) .bfi-converted-multi {
	position: fixed;
	width: 0;
	height: 0;
}

.bfi-container.expanded .bfi-converted,
.bfi-container.expanded .bfi-converted-multi {
	position: absolute;
	width: 100%;
	height: 100%;
}

.bfi-label,
.bfi-label-selected {
	display: inline-block;
	width: 100%;
	height: unset;
	margin: 0;
	text-align: center;
	user-select: none;
	z-index: 10;
}

.bfi-container:not(.expanded) .bfi-label,
.bfi-label-selected {
	padding: 10px 20px;
}

.bfi-container.expanded .bfi-label {
	padding: 40px 20px;
}

.bfi-label {
	transition: padding .25s ease, border 1s ease;
	-moz-transition: padding .25s ease, border 1s ease;
	-webkit-transition: padding .25s ease, border 1s ease;
}

.bfi-clear,
.bfi-label span {
	cursor: pointer;
	text-decoration: underline;
}

.bfi-file {
	display: inline-block;
	width: -moz-calc(100% - 20px);
	width: -webkit-calc(100% - 20px);
	width: -o-calc(100% - 20px);
	width: calc(100% - 20px);
	padding: 5px 10px;
	background: rgb(100, 100, 100);
	color: white;
	border-radius: 7px;
	z-index: 10;
	animation: file_grow 1s ease;
	line-height: 1em;
}

.bfi-converted ~ .bfi-file {
	margin: 10px;
}

.bfi-converted-multi ~ .bfi-file {
	margin: 0 10px 10px 10px;
}

.bfi-file i {
	font-style: normal;
	font-size: 0.8em;
	color: rgb(190, 190, 190);
}

.bfi-file .bfi-clear {
	float: right;
	user-select: none;
}

.bfi-shadow-container {
	position: absolute;
	display: none;
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	clip: rect(0, auto, auto, 0);
}

.bfi-container.expanded .bfi-shadow-container {
	display: unset;
}

.bfi-shadow {
	position: fixed;
	display: none;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.06);
	transition: left 0.1s ease, top 0.1s ease;
	-moz-transition: left 0.1s ease, top 0.1s ease;
	-webkit-transition: left 0.1s ease, top 0.1s ease;
}

.bfi-container.hovering .bfi-shadow {
	display: unset;
	animation: shadow_grow 0.5s ease
}
